<h1>My Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
      <% if article.user == current_user %>
        <p>By Me: <%= article.user.email %></p>
      <% elsif article.user.present? %>
        <p>By: <%= article.user.email %></p>
      <% else %>
        <p>By: Guest User</p>
      <% end %>
      <p>Last updated: <%= article.updated_at.strftime("%B %d, %Y %H:%M") %></p>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>